/* navbar.css */
:root {
    --primary: #736b23;
    --secondary: #9ade24;
    --accent: #f5de3e;
    --light: #ecf0f1;
    --dark: #0d0a06;
}

.navbar {
    background: white;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar a {
    color: var(--secondary);
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .5rem;
    padding: 10px 15px;
    border-radius: 50%;
    transition: background 0.3s, color 0.3s, transform 0.2s;
    cursor: none;
}

.navbar a:hover,
.navbar a.active {
    background: var(--secondary);
    color: var(--light);
    transform: scale(1.05);
}

body {
    margin-top: 60px; /* Ensure content is not hidden behind fixed navbar */
}
